---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { DashboardHeader } from "../../components/DashboardHeader";
import { VideoUpload } from "../../components/VideoUpload";
import { FileList } from "@/components/r2-assets/FileList";
---

<BaseLayout title="Other Content">
  <DashboardHeader
    heading="Other Content"
    text="Manage other files such as images, zip archives, large files, etc."
  >
    <VideoUpload client:load />
  </DashboardHeader>
  <div class="grid gap-4">
    <FileList client:load />
  </div>
</BaseLayout>
