---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { DashboardHeader } from "@/components/DashboardHeader";
import { CollectionsList } from "@/components/collections/CollectionsList";
import { getCollections } from "@/lib/bunnyStream";
import CollectionCreate from "@/components/collections/CollectionCreate";

// Fetch collections on the server
const collections = await getCollections();
---

<BaseLayout title="Collections">
  <DashboardHeader heading="Collections" text="Manage your video collections.">
    <CollectionCreate client:load/>
  </DashboardHeader>
  <div class="grid gap-4">
    <CollectionsList collections={collections} client:load />
  </div>
</BaseLayout>