---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { DashboardHeader } from "@/components/DashboardHeader";
import { VideoUpload } from "@/components/VideoUpload";
import {
  Card,
  CardHeader,
  CardTitle,
  CardDescription,
  CardContent,
} from "@/components/ui/card";
import { TvMinimalPlay, FolderOpenDot, Files } from "lucide-react";
---

<BaseLayout title="Video Management Dashboard">
  <DashboardHeader
    heading="Video Management Dashboard"
    text="Manage your streaming video library."
  >
    <VideoUpload client:load />
  </DashboardHeader>
  <div class="grid grid-cols-4 gap-4">
    <a href="/videos">
      <Card
        className="hover:bg-secondary col-span-1 text-center transition-colors"
      >
        <CardHeader>
          <TvMinimalPlay className="mx-auto size-12" />
          <CardTitle>Videos</CardTitle>
        </CardHeader>
        <CardContent>
          <CardDescription
            >View and manage all videos in the library.</CardDescription
          >
        </CardContent>
      </Card>
    </a>
    <a href="/collections">
      <Card
        className="hover:bg-secondary col-span-1 text-center transition-colors"
      >
        <CardHeader>
          <FolderOpenDot className="mx-auto size-12" />
          <CardTitle>Collections</CardTitle>
        </CardHeader>
        <CardContent>
          <CardDescription
            >View and manage all collections in the library.</CardDescription
          >
        </CardContent>
      </Card>
    </a>
    <a href="/assets">
      <Card
        className="hover:bg-secondary col-span-1 text-center transition-colors"
      >
        <CardHeader>
          <Files className="mx-auto size-12" />
          <CardTitle>Other Content</CardTitle>
        </CardHeader>
        <CardContent>
          <CardDescription
            >View and manage other content such as images, zip archives, large files, etc.</CardDescription
          >
        </CardContent>
      </Card>
    </a>
  </div>
</BaseLayout>
