---
import PublicLayout from "@/layouts/PublicLayout.astro";
import { Button } from "@/components/ui/button";
import { DashboardHeader } from "@/components/DashboardHeader";
---

<PublicLayout title="Air War Trail Video Admin">
  <DashboardHeader
    heading="Welcome to Air War Trail Video Dashboard"
    text="Manage all videos for Air War Trail"
  />
  <div
    class="flex min-h-[50dvh] w-full flex-col items-center justify-center gap-8 p-6 md:p-10"
  >
    <Button size="lg">
      <a href="/login">Go to Login</a>
    </Button>
    <!-- <Button size="lg" variant="secondary">
      <a href="/signup">Sign Up</a>
    </Button> -->
  </div>
</PublicLayout>
